
.container{
  margin:20px;
  background-color: #f2c89a(55, 143, 140);
  border: 2px solid;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-left:400px;
  border-radius:10px;
  color: #4a3f35;
  font-size: 1.1rem; 
  line-height: 1.6;
  box-shadow: 0 4px 12px  #4a3f35;
  border-radius: 12px;

}
.profile-card {
  padding: 16px;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 4px 6px  #4a3f35;
  min-height:500px;
}
.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 20%;
  object-fit: cover;
  justify-content: flex-start;
  border:1px solid  #4a3f35;

}
.text{
  flex:1;
}


.profile-card {
  display: flex;
  align-items: center;
  gap: 1rem; 
}

.profile-image {
  
  object-fit: cover; 
  border-radius: 8px; 
}

.text {
  flex: 1; 
}

